// Estilos para nhentai.net
#button_downloader_extension {
    text-align: center;
    width: 350px;
}

.lazyload, .advertisement{
    display: none !important;
}

.d {
    margin: 20% auto;
    max-height: 50vh;
    min-width: 30%;
    width: 50%;
    border: none;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0);
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .titleDialog{
        display: flex;
        background-color: none;
        justify-content: flex-end;
        align-items: center;

        .titleText{
            font-size: 22px;
            padding: 0px 5px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 1);
            margin-right: auto;
        }

        button{
            margin: 0px 2px;
            background-color: rgba(255, 255, 255, 1);
            outline: none;
            border-color: rgba(0, 0, 0, 0);
            // border: none;
            font-size: 20px;
            cursor: pointer;

            &:first-child{
                margin-left: 0px;
            }
            
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .contenidoDialog{
        background-color: rgba(255, 255, 255, 1);
        padding: 5px;
        overflow-y: auto;
    }
}

// Estilos para ihentai.net
.body_generate_images{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

center, hr {
    display: none;
}

#splash{
    margin: auto;
    font-size: 2.5rem;
    width: fit-content;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.images_getted_extension_work{
    page-break-after: always;
    page-break-inside: avoid;
    display: block;
}

.vertical{
    margin: 0 auto;
    width: auto;
    height: 11in;
}

.horizontal{
    margin: 25% 0in auto 0in;
    width: 8.5in;
    height: auto;
}

@media print {
    @page {
        size: letter;
        margin: 0in;
    }
}